.an-header-glass,
.an-header-malt,
.an-header-bottle-orange div,
.an-header-bottle-top div,
.an-header-bottle-green,
.an-header-licorne-yellow,
.an-header-yeast,
.an-header-bottle-blue,
.an-header-brasserie,
.an-header-licorne-pink,
.an-header-hops,
.an-header-barrel,
.an-header-licorne-lightgreen-top {
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.an-header-mask {
  width: 100%;
  height: 100%;
}

.an-header-bottle-orange,
.an-header-bottle-top,
.an-header-licorne-pink {
  overflow: hidden;
}

.an-header-licorne-lightgreen {
  margin-top: 25%;
  background: $orange;
}

.an-header-barrel {
  background: $blue;
  animation-name: posBarrel;
}

@keyframes posBarrel {
  0% {
    margin: 0;
  }

  55% {
    margin: 0;
  }

  66% {
    margin: -25% 0 0 0;
  }

  77% {
    margin: 0;
  }

  100% {
    margin: 0;
  }
}

.an-header-bottle-green {
  animation-name: posBottleGreen;
  margin-left: 25%;
  background: $pink;
}

@keyframes posBottleGreen {
  0% {
    margin: 0 0 0 25%;
  }

  11% {
    margin: 25% 0 0 25%;
  }

  60% {
    margin: 25% 0 0 25%;
  }

  61% {
    margin: -50% 0 0 25%;
  }

  100% {
    margin: 0 0 0 25%;
  }
}

.an-header-hops {
  background: $lightgreen;
  animation-name: posHops;
}

@keyframes posHops {
  0% {
    margin: 25% 0 0 50%;
  }

  55% {
    margin: 25% 0 0 50%;
  }

  66% {
    margin: 0 0 0 50%;
  }

  77% {
    margin: 25% 0 0 50%;
  }

  100% {
    margin: 25% 0 0 50%;
  }
}

.an-header-bottle-orange div {
  animation-name: posBottleOrange;
  background: $lightgreen;
}

@keyframes posBottleOrange {
  0% {
    margin: 0 0 0 100%;
  }

  11% {
    margin: 0 0 0 100%;
  }

  22% {
    margin: 0;
  }

  60% {
    margin: 0;
  }

  61% {
    margin: 0 0 0 100%;
  }

  100% {
    margin: 0 0 0 100%;
  }
}

.an-header-bottle-top {
  margin: 25% 0 0 75%;
}

.an-header-bottle-top div {
  animation-name: posBottleTop;
  background: $lightgreen;
}

@keyframes posBottleTop {
  0% {
    margin: -100% 0 0 0;
  }

  11% {
    margin: -100% 0 0 0;
  }

  22% {
    margin: 0;
  }

  60% {
    margin: 0;
  }

  61% {
    margin: -100% 0 0 0;
  }

  100% {
    margin: -100% 0 0 0;
  }
}

.an-header-malt {
  animation-name: posMalt;
  background: $darkgreen;
}

@keyframes posMalt {
  0% {
    margin: -25% 0 0 25%;
  }

  11% {
    margin: 0 0 0 25%;
  }

  80% {
    margin: 0 0 0 25%;
  }

  100% {
    margin: -25% 0 0 25%;
  }
}

.an-header-glass {
  animation-name: posGlass;
  background: $pink;
}

@keyframes posGlass {
  0% {
    margin: -25% 0 0 50%;
  }

  11% {
    margin: 0 0 0 50%;
  }

  80% {
    margin: 0 0 0 50%;
  }

  100% {
    margin: -25% 0 0 50%;
  }
}

.an-header-licorne-yellow {
  animation-name: posLicorneYellow;
  background: $blue;
}

@keyframes posLicorneYellow {
  0% {
    margin: 50% 0 0 25%;
  }

  22% {
    margin: 50% 0 0 25%;
  }

  33% {
    margin: 25% 0 0 25%;
  }

  60% {
    margin: 25% 0 0 25%;
  }

  61% {
    margin: 50% 0 0 25%;
  }

  100% {
    margin: 50% 0 0 25%;
  }
}

.an-header-yeast {
  animation-name: posYeast;
  background: $blue;
}

@keyframes posYeast {
  0% {
    margin: -50% 0 0 0;
  }

  33% {
    margin: -50% 0 0 0;
  }

  44% {
    margin: 0;
  }

  66% {
    margin: 0;
  }

  77% {
    margin: 25% 0 0 0;
  }

  98% {
    margin: 25% 0 0 0;
  }

  99% {
    margin: 25% 0 0 -25%;
  }

  100% {
    margin: -50% 0 0 -25%;
  }
}

.an-header-bottle-blue {
  animation-name: posBottleBlue;
  background: $yellow;
}

@keyframes posBottleBlue {
  0% {
    margin: 25% 0 0 100%;
  }

  44% {
    margin: 25% 0 0 100%;
  }

  55% {
    margin: 25% 0 0 50%;
  }

  66% {
    margin: 25% 0 0 50%;
  }

  77% {
    margin: 50% 0 0 50%;
  }

  100% {
    margin: 50% 0 0 0;
  }
}

.an-header-brasserie {
  animation-name: posBrasserie;
  background: $pink;
}

@keyframes posBrasserie {
  0% {
    margin: 50% 0 0 25%;
  }

  44% {
    margin: 50% 0 0 25%;
  }

  55% {
    margin: 25% 0 0 25%;
  }

  90% {
    margin: 25% 0 0 25%;
  }

  100% {
    margin: 50% 0 0 25%;
  }
}
