.an-header-glass,
.an-header-malt,
.an-header-bottle-orange div,
.an-header-bottle-top div,
.an-header-bottle-green,
.an-header-licorne-yellow {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.an-mask {
  width: 100%;
  height: 100%;
}

.an-header-licorne-lightgreen {
  margin-top: 25%;
  background: $orange;
}

.an-header-barrel {
  background: $blue;
}

.an-header-bottle-green {
  animation-name: posBottleGreen;
  margin-left: 25%;
  background: $pink;
}

@keyframes posBottleGreen {
  0% {
    margin: 0 0 0 25%;
  }

  11% {
    margin: 25% 0 0 25%;
  }

  80% {
    margin: 25% 0 0 25%;
  }

  100% {
    margin: 0 0 0 25%;
  }
}

.an-header-hops {
  margin: 25% 0 0 50%;
  background: $lightgreen;
}

.an-header-bottle-orange,
.an-header-bottle-top {
  overflow: hidden;
}

.an-header-bottle-orange div {
  animation-name: posBottleOrange;
  background: $lightgreen;
}

@keyframes posBottleOrange {
  0% {
    margin: 0 0 0 100%;
  }

  11% {
    margin: 0 0 0 100%;
  }

  22% {
    margin: 0;
  }

  90% {
    margin: 0;
  }

  100% {
    margin: 0 0 0 100%;
  }
}

.an-header-bottle-top {
  margin: 25% 0 0 75%;
}

.an-header-bottle-top div {
  animation-name: posBottleTop;
  background: $lightgreen;
}

@keyframes posBottleTop {
  0% {
    margin: -100% 0 0 0;
  }

  11% {
    margin: -100% 0 0 0;
  }

  22% {
    margin: 0;
  }

  80% {
    margin: 0;
  }

  100% {
    margin: -100% 0 0 0;
  }
}

.an-header-malt {
  animation-name: posMalt;
  background: $darkgreen;
}

@keyframes posMalt {
  0% {
    margin: -25% 0 0 25%;
  }

  11% {
    margin: 0 0 0 25%;
  }

  80% {
    margin: 0 0 0 25%;
  }

  100% {
    margin: -25% 0 0 25%;
  }
}

.an-header-glass {
  animation-name: posGlass;
  background: $pink;
}

@keyframes posGlass {
  0% {
    margin: -25% 0 0 50%;
  }

  11% {
    margin: 0 0 0 50%;
  }

  80% {
    margin: 0 0 0 50%;
  }

  100% {
    margin: -25% 0 0 50%;
  }
}

.an-header-licorne-yellow {
  animation-name: posLicorneYellow;
  background: $blue;
}

@keyframes posLicorneYellow {
  0% {
    margin: 50% 0 0 25%;
  }

  22% {
    margin: 50% 0 0 25%;
  }

  33% {
    margin: 25% 0 0 25%;
  }

  90% {
    margin: 25% 0 0 25%;
  }

  100% {
    margin: 50% 0 0 25%;
  }
}
