.box-square,
.box-wide,
.box-long {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  // gap: 5px;
}

.box-button {
  padding: 15px 30px 20px 20px;
  justify-content: space-between;
  align-items: flex-end;
}

.box-img {
  padding: 0;
}

.box-img h2 {
  padding: 15px 20px 0;
}

.box-square {
  width: 25%;
  height: 33.34%;
}

.l-section-small .box-square,
.l-section-small .box-wide {
  height: 50%;
}

.l-section-small .box-long {
  height: 100%;
}

.l-section-smaller .box-square,
.l-section-smaller .box-wide {
  height: 100%;
}

.box-wide {
  width: 50%;
  height: 33.34%;
}

.box-long {
  width: 25%;
  height: 66.67%;
}

.box-logo {
  display: flex;
  justify-content: center;
  padding: 73px;
}

.box-after-header-left {
  background: $pink;
}

.box-after-header-right {
  background: $blue;
  margin-left: 50%;
}

.box-after-histoire-left {
  background: $lightgreen;
  width: 50%;
}

.box-after-histoire-right {
  margin-left: 50%;
  background: $yellow;
}

.box-after-brasserie-left {
  background: $pink;
  width: 75%;
}

.box-after-brasserie-right {
  background: $lightgreen;
  margin-left: 75%;
}

.box-after-bieres-left {
  background: $yellow;
  width: 25%;
}

.box-after-bieres-right {
  background: $orange;
  margin-left: 25%;
  width: 75%;
}

.box-after-shop-left {
  background: $yellow;
}

.box-after-shop-right {
  margin-left: 50%;
  background: $pink;
}

.box-nav {
  margin-left: 75%;
  background: $orange;
}

.box-histoire {
  color: $darkgreen;
  background: $yellow;
  height: 100%;
  background-image: url(../images/malt.png);
  background-size: 100%;
}

.box-estavayer {
  color: $orange;
  background: $lightgreen;
  margin-left: 25%;
}

.box-hops {
  background: $orange;
  margin-left: 50%;
}

.box-water {
  background: $blue;
  margin: 25% 0 0 25%;
}

.box-yeast {
  background: $darkgreen;
  margin: 25% 0 0 75%;
}

.box-belgique {
  color: $blue;
  background: $yellow;
  margin: 25% 0 0 50%;
}

.box-canada {
  color: $darkgreen;
  background: $pink;
  margin: 50% 0 0 25%;
}

.box-brasserie {
  color: $lightgreen;
  background: $orange;
}

.box-brasserie p {
  @include text-uppercase;
}

.box-brasserie-estavayer {
  margin-left: 50%;
}

.box-admin {
  color: $darkgreen;
  background: $yellow;
  margin-top: 25%;
}

.box-prod {
  color: $orange;
  background: $pink;
  margin: 25% 0 0 25%;
}

.box-stock {
  color: $blue;
  background: $lightgreen;
  margin: 25% 0 0 50%;
}

.box-barrel {
  background: $darkgreen;
  margin-top: 50%;
}

.box-tasting {
  color: $pink;
  background: $orange;
  margin: 50% 0 0 50%;
}

.box-tasting h3 {
  margin-bottom: 5px;
}

.box-beers {
  color: $lightgreen;
  background: $blue;
  margin-left: 50%;
  background-image: url(../images/beer-glass.png);
  background-size: 100%;
}

.box-beers img {
  margin-top: -70px;
}

.box-blond {
  color: $lightgreen;
  background: $lightgreen;
  background-image: url(../images/bottle-orange.png);
  background-size: 100%;
}

.box-ipa {
  color: $yellow;
  background: $yellow;
  margin-left: 75%;
  background-image: url(../images/bottle-blue.png);
  background-size: 100%;
}

.box-dark {
  color: $pink;
  background: $pink;
  margin: 25% 0 0 25%;
  background-image: url(../images/bottle-green.png);
  background-size: 100%;
}

.box-beer-glass {
  margin-top: 25%;
  background: $blue;
}

.box-shop-blond {
  color: $orange;
  background: $lightgreen;
}

.box-shop-dark {
  color: $darkgreen;
  background: $pink;
  margin-left: 25%;
}

.box-shop-ipa {
  color: $blue;
  background: $yellow;
  margin-left: 50%;
}

.box-shop {
  color: $lightgreen;
  background: $darkgreen;
  margin-left: 75%;
  background-image: url(../images/bottle-lightgreen.png);
  background-size: 100%;
}

.box-newsletter-bottle {
  background: $blue;
  background-image: url(../images/bottle-pink.png);
  background-size: 100%;
}

.box-newsletter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  gap: 25px;
  color: $orange;
  background: $lightgreen;
  @include text-uppercase;
  margin-left: 25%;
  width: 75%;
}

.box-legal {
  margin-left: 25%;
}

.box-arrow {
  margin-left: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
