.box-square,
.box-wide,
.box-long {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.box-img {
  padding: 0;
}

.box-square {
  width: 25%;
  height: 33.33%;
}

.box-wide {
  width: 50%;
  height: 33.33%;
}

.box-long {
  width: 25%;
  height: 66.66%;
}

.box-histoire {
  color: $darkgreen;
  background: $yellow;
  height: 100%;
}

.box-histoire h2 {
  padding: 15px 20px;
}

.box-histoire img {
  margin-top: -140px;
}

.box-estavayer {
  margin-left: 25%;
  color: $orange;
  background: $lightgreen;
}

.box-hops {
  background: $orange;
  margin-left: 50%;
}

.box-water {
  background: $blue;
  margin-left: 25%;
  margin-top: 25%;
}

.box-yeast {
  background: $darkgreen;
  margin-left: 75%;
  margin-top: 25%;
}

.box-belgique {
  color: $blue;
  background: $yellow;
  margin-left: 50%;
  margin-top: 25%;
}

.box-canada {
  color: $darkgreen;
  background: $pink;
  margin-left: 25%;
  margin-top: 50%;
}
