.button {
  @include text-uppercase;
  display: flex;
  height: 53px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: $pink;
  background: $blue;
  white-space: nowrap;
  transition: all 0.2s linear;
}

.button:hover,
.button-cart:hover {
  background: $darkgreen;
}

.button-cart {
  background: $blue;
  padding: 10px;
  transition: all 0.2s linear;
}
