.input-text input {
  background: $pink;
  height: 53px;
  padding: 10px;
  border: none;
  width: 100%;
}

.input-text input:focus {
  outline: none;
}

.input-text {
  width: auto;
  width: 100%;
}

.input-text ::placeholder {
  @include text-uppercase;
  color: $blue;
}

.email {
  display: flex;
  gap: 25px;
}
