/* ====================================
// css variables
// ==================================== */

@mixin text-uppercase {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
}

@mixin text-normal {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

@mixin text-small {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
}

$lightgreen: #d9e587;
$darkgreen: #376938;
$blue: #3a5b6d;
$yellow: #e5ac49;
$orange: #ea6231;
$pink: #fac1ba;
$beige: #ffeba3;

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background: $beige;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  object-fit: cover;
}

h2 {
  font-family: "txc-pearl", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 52.4px;
  margin-bottom: 5px;
}

h3 {
  font-family: "txc-pearl", sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 33.8px;
  letter-spacing: 1.11px;
  margin-bottom: 5px;
}

p {
  @include text-normal;
}

ul {
  list-style-type: none;
}

nav {
  @include text-uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $lightgreen;
}

nav a {
  text-decoration: none;
  transition: all 0.1s linear;
}

nav a:hover {
  color: $pink;
}

footer {
  @include text-uppercase;
  color: $lightgreen;
  background: $orange;
}

/* ====================================
// base rules
// ==================================== */
